@mixin button($size: 1rem, $pt: 0, $ps: 0) {
  background: lighten($teal, 10%);
  border: .3rem solid white;
  // border-radius: .1rem;
  color: white;
  font-weight: 300;
  font-size: $size;
  padding: $pt $ps;
  @include flex(center, center);

}