.footer-container {
  background: $dark;
  color: white;
  height: 6rem;
  // position: absolute;
  // bottom: 0;
  width: 100%;
}

.footer {
  @include centered;
  @include flex(space-around, center);
  padding: $m-size 0;
}

.small-link {
  color: white;
  font-size: $s-size;
  text-decoration: none;
}

.large-link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}