.header {
  background: $dark;
  color: white;
  margin: 0;
  padding: 0 $m-size $m-size 0;
  height: 6rem;
  width: 100%;
}

.header-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $s-size;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__title {
  font-size: $xl-size;
  margin: 0;

}